html, body {
    height: 100vh;
}


body {
    background-color: rgb(17,87,98);
    object-fit: cover;
}

.quote-card {
    background: transparent;
    margin-left: 1rem;
    font-style: italic;
}

.background {
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flower {
    position: absolute;
    top: 0;
    left: 0;
}


.pad-button {
    border-radius: 100%;
    position: absolute;
    width: 25%;
    height: 30%;
    top: 33%;
    left: 37%;
    background: transparent;
    border: none;
}

.fix-card {
    position: fixed;
    top: 10%;
    left: 10%;
}

.journal{
    border: solid black;
    opacity: rgba(0, 0, 0, 0);
    position: relative;
}



.page{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: relative;
}

.exit {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;
    max-width: 50px;
    z-index: 1;
    /* margin: -1%; */
}

.back-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
    max-width: 60px;
    z-index: 1;
}

.page-content {
    padding: 1rem;
}

#clear-btn {
    position: absolute;
    top: 3%;
    left: 3%;
}

li{
    padding: 1rem;
}

li a{
    text-decoration: none;
    color: black;
}

.new-entry{
    padding: 1rem;
}

textarea{
    height: 50vh;
    color: white;
    font-size: 24px;
    margin-top: 4vh;
}

.hidden{
    display: none;
}

.invisible {
    visibility: hidden;
}

#modal1{
    max-height: 100%;
    background:rgba(0, 0, 0, .5);
}

#submitbtn {
    margin-top: 10px;
}

@media screen and (max-width: 2100px)  {
    .background {
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px)  {
    .btn {
        left: 24%;
        width: 50%;
    }

    .row .journal {
        display: none;
    }

    .controls a{
        margin-top: 1rem;
    }

    .pad-button {
        left: 25%;
        width: 50%
    }
}

