html, body {
    /* height: 100%; */
    height: 100vh;
    /* width: 100vw; */
}


body {
    background-color: rgb(86,201,181);
    object-fit: cover;
}

img {
    /* object-fit: contain; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.flower {
    position: absolute;
    top: 0;
    left: 0;
}


button {
    border-radius: 100%;
    position: absolute;
    object-fit: cover;
    width: 25%;
    height: 30%;
    top: 25%;
    left: 37%;
    background: transparent;
    border: none;
    /* transform: translate(-50%, -50%); */
}

.pond {
    height: 80vh;
}

.pond .bg{
    max-width: 40vh;
    /* max-height: 100%; */
    border-radius: 100%;
    position: fixed;
    top: 30%;
    /* left: 175px; */
    left: 10%;
}

.fix-card {
    position: fixed;
    top: 10%;
    /* left: 175px; */
    left: 10%;
}

.journal{
    border: solid black;
    /* margin: 1rem 0 0 0; */
}

.page{
    padding: 1rem;
    background-image: url(./pictures/parchment-paper.jpg)
}

.page-content {
    padding: 1rem;
}

li{
    padding: 1rem;
}

li a{
    text-decoration: none;
    color: black;
}

.new-entry{
    padding: 1rem;
}

textarea{
    height: 50vh;
}

.controls{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.circle-1 {
    /* position: absolute;
    top: 200px;
    /* left: -300px; */
    position: absolute;
    /* top: -100%; */
    left: 0;
    border: solid 10px;
}

.hidden{
    display: none;
}

.invisible {
    visibility: hidden;
}

@media screen and (max-width: 1024px)  {
    .btn {
        left: 24%;
        width: 50%;
    }

    .row .pond {
        padding: 0;
        /* margin-top: -20%; */
    }

    .pond .bg{
        max-width: 100%;
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        border-radius: 0;
        /* object-position: 50% 50%; */
    }

    .circle-1 {
        max-width: 100%;
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        position: absolute;
        top: -10%;
        left: 0;
        z-index: -1;
        object-fit: cover;
        border-radius: 0;
        /* object-position: 50% 50%; */
    }

    .row .journal {
        display: none;
    }
}

