@font-face {
    font-family: 'Washington Lifestyle';
    src: url("../fonts/Washington\ Lifestyle.ttf");
}

html, body {
    height: 100vh;
    font-family: 'Washington Lifestyle', sans-serif;
    font-size: 24px;
    color: #020429;
}


body {
    background-color: rgb(17,87,98);
    object-fit: cover;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.quote-card {
    background: transparent;
    margin-left: 1rem;
    font-style: italic;
    font-size: 50px;
}

.background {
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flower {
    position: absolute;
    top: 0;
    left: 0;
}


.pad-button {
    border-radius: 100%;
    position: absolute;
    width: 25%;
    height: 30%;
    top: 33%;
    left: 37%;
    background: transparent;
    border: none;
}

.fix-card {
    position: fixed;
    top: 10%;
    left: 10%;
}

.journal{
    border: solid black;
    opacity: rgba(0, 0, 0, 0);
    position: relative;
}



.page{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 242, 184);
    position: relative;
}

.exit {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;
    max-width: 50px;
    z-index: 1;
    /* margin: -1%; */
}

.back-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
    max-width: 60px;
    z-index: 1;
}

.page-content {
    padding: 1rem;
}

/* #clear-btn {
    position: absolute;
    top: 3%;
    left: 3%;
} */

li{
    padding: 1rem;
}

li a{
    text-decoration: none;
    color: black;
}

.new-entry{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newButton {
    display: flex;
    flex-direction: column;
    /* padding-top: 15%; */
    max-width: 500px;
    width: 90%;
    z-index: 1;
}

#clear-btn {
    display: flex;
    flex-direction: column;
    /* max-width: 20%; */
    width: 90%;
    max-width: 400px;
    z-index: 1;
}

textarea{
    height: 50vh;
    color: white;
    font-size: 24px;
    margin-top: 4vh;
}

.hidden{
    display: none;
}

.invisible {
    visibility: hidden;
}

#modal1{
    max-height: 100%;
    background:rgba(0, 0, 0, .5);
}

#submitbtn {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 300px;
    /* height: 100%; */
}

.collapsible-header {
    /* padding: 100px; */
    background-image: url("../images/buttons/entry-header.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: none;
    text-indent: 20px;
}

.collapsible-body {
    margin-top: 10px;
    border-top: 1px solid white;
}

.collapsible-body span {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 2100px)  {
    .background {
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px)  {
    html, body {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    .btn {
        left: 24%;
        width: 50%;
    }

    .row .journal {
        display: none;
    }

    .controls a{
        margin-top: 1rem;
    }

    .pad-button {
        left: 25%;
        width: 50%
    }

    .collapsible-body span {
        font-size: 16px;
    }

    #quote-author {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #newButton {
        margin-top: 20%;
    }
}

